.navbar {
  width: calc(100vw - 5rem);
  padding: 0 2rem 0 2rem;
}

.navContainer {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderIconContainer {
  background-color: white;
  color: black;
  width: fit-content;
  padding: 7.5px;
  height: 2.25rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  background-color: white;
  color: black;
  width: fit-content;
  padding: 7.5px;
  height: 2.25rem;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.borderInput {
  color: black;
  border: none;
  outline: none;
  width: 20rem;
  height: 2.25rem;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input {
  color: black;
  border: none;
  outline: none;
  width: 20rem;
  height: 2.25rem;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
}

.button {
  color: white;
  font-size: smaller;
  margin-left: 5px;
  padding: 7.5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: whitesmoke solid 1px;
  background-color: brown;
}

.padding {
  padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .input,
  .borderInput {
    width: 17.5rem;
  }
}

@media screen and (max-width: 700px) {
  .input,
  .borderInput {
    width: 15rem;
  }
}

@media screen and (max-width: 450px) {
  .input,
  .borderInput {
    width: 13rem;
  }
}

@media screen and (max-width: 350px) {
  .input,
  .borderInput {
    width: 10rem;
  }
}
